.ace_doc-tooltip .ace_storage,
.ace_doc-tooltip .ace_keyword {
    color: blue;
}

.atr-ace-tooltip-desc {
    margin: 0;
    max-width: 500px;
    white-space: pre-wrap;
}

.atr-ace-tooltip-define {
    max-width: 500px;
    white-space: pre-wrap;
}