.atr-blink-mask {
    position: fixed;
    background: #ffe807;
    z-index: 1099999999;
    pointer-events: none;
    opacity: 0;
    -webkit-box-shadow: 0px 0px 0px 2px rgba(255, 10, 10, 1);
    -moz-box-shadow: 0px 0px 0px 2px rgba(255, 10, 10, 1);
    box-shadow: 0px 0px 0px 2px rgba(255, 10, 10, 1);
}

.atr-blink-mask.as-anim {
    animation-name: blink;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    /*animation-timing-function: linear;*/
}


.atr-blink-mask.as-transparent {
    animation-name: none;
    opacity: 0;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    12% {
        opacity: 0.5;
    }
    25% {
        opacity: 0;
    }
    37% {
        opacity: 0.5;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}