.atr-explain-modal .atr-punctured-modal {
    backdrop-filter: blur(0.04em);
    -webkit-backdrop-filter: blur(0.04em);
    background-color: rgba(169, 169, 169, 0.40);
}

.atr-explain-text {
    color: white;
    font-size: 1.25em;
    margin: 0;
}

.atr-explain-text p{
    font-size: inherit;
    margin: 0;
}