.atr-inspector-rect {
    position: fixed;
    pointer-events: none;
    border: 1px solid #3a5b48;
    z-index: 1100000000;
    box-sizing: border-box;
    background-color: rgba(0, 150, 150, 0.03);
    transition: left 0.1s, top 0.1s, width 0.1s, height 0.1s;
}

.atr-inspector-rect-text {
    position: absolute;
    left: -1px;
    bottom: calc(100% + 1px);
    padding: 2px;
    background-color: #3a5b48;
    color: white;
    box-sizing: border-box;
}


.atr-inspector-rect.atr-bottom .atr-inspector-rect-text {
    top: calc(100% + 1px);
    bottom: unset;
}

.atr-inspector-rect.atr-left .atr-inspector-rect-text {
    right: -1px;
    left: unset;
}

.atr-inspector-tree-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    color: #aaa;
    background-color: #eee;
}


.atr-inspector-tree-ctn {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    bottom: 16px;
    overflow-y: auto;
    font-size: 12px;
}