:root{
    --punctured-x: 0px;
    --punctured-y: 0px;
    --punctured-width: 100vw;
    --punctured-height: 100vh;
}
.atr-punctured-modal {
    position: fixed;
    z-index: 100000000;
    background-color: inherit;

}

.atr-punctured-modal-a {
    left: 0;
    top: 0;
    width: calc(var(--punctured-x) + var(--punctured-width));
    height: var(--punctured-y);
    transition: width 0.2s, height 0.2s;
}

.atr-punctured-modal-b {
    right: 0;
    top: 0;
    left: calc(var(--punctured-x) + var(--punctured-width));
    height: calc(var(--punctured-y) + var(--punctured-height));
    transition: left 0.2s, height 0.2s;
}

.atr-punctured-modal-c {
    right: 0;
    bottom: 0;
    top: calc(var(--punctured-y) + var(--punctured-height));
    left: var(--punctured-x);
    transition: top 0.2s, left 0.2s;
}

.atr-punctured-modal-d {
    left: 0;
    bottom: 0;
    width: var(--punctured-x);
    top: var(--punctured-y);
    transition: top 0.2s, width 0.2s;
}


.atr-punctured-modal >:not(.atr-punctured-modal){
    pointer-events: none;
}