:root {
    --tutor-master-x: 0.2;
    --tutor-master-y: 0.2;
    --tutor-master-width: 120px;
    --tutor-master-height: 40px;
}

.atr-tutor-master {
    position: fixed;
    z-index: 1000000000;
    left: calc((100vw - var(--tutor-master-width) - 4px) * var(--tutor-master-x) + 2px);
    top: calc((100vh - var(--tutor-master-height) - 4px) * var(--tutor-master-y) + 2px);
    background-color: white;
    padding-left: 40px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    min-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.atr-tutor-master-head {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    text-align: center;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
    background-color: rgba(169, 169, 169, 0.15);
}

.atr-tutor-master-head > svg {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}

.atr-tutor-master-head > svg path {
    fill: #04c7ff;
}

.atr-tutor-master-cmd-ctn {
    height: 40px;
    width: 40px;
}


.atr-tutor-master-head::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.atr-tutor-master .as-from-tool-button {
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 0;
}

.atr-tutor-master .as-from-tool-button.as-active {
    color: #4f72f5;
}

.atr-has-tutor-master .as-toast-list.as-se,
.atr-has-tutor-master .as-toast-list.as-sw {
    bottom: 50px;
}

.atr-has-tutor-master .ace_tooltip,
.atr-has-tutor-master .ace_editor.ace_autocomplete {
    z-index: 1100000000;
}